* {
    box-sizing: border-box;
}

.navbar-brand {
    padding: 10px;
    font-size: 22px;
}

.container {
    margin-top: 30px;
    margin-bottom: 120px;
    position: relative;
}

.aboutPic {
    width: 200px;
}

.pageFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.copyright {
    font-size: 12px;
}